@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>

<input asp-action="jj" />

<img azure-src="nuget/7424be97dfb64bc38ad337efbef3ec61.PNG" /> 